alias ..='cd ..';
alias ...='cd ../..';
alias ....='cd ../../..';

alias .aliases='$EDITOR -n  ~/.aliases'
alias .gitconfig='$EDITOR -n  ~/.gitconfig'

alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -i'

alias /='code .'

alias db="docker build ."
alias dcb="docker compose up --build --detach"
alias dcd="docker compose down"
alias dcr="dcd && dcu"
alias dcu="docker compose up --detach"
alias dl='curl -O'
alias fs='du -sc * | sort -n | tail'
alias g="git"
alias ga='f() { git add $@; }; f'
alias gs="git st"
alias gc='f() { git commit -m "$1" }; f'
alias hs="npx http-server "
alias ll=ls -al
alias lt="npx localtunnel --allow-invalid-cert --port"
alias mkdir=mkdir -p
alias mute='m volume 0 >& /dev/null'
alias note='set_title'
alias npx="npx --silent --yes"
alias opon="op signin"
alias opoff="op signout"
alias phone="scrcpy &"
alias qlk='qlmanage -p "$@" >& /dev/null'
alias sc="shortcuts create"
alias tgz='tar -czf'
alias tldr='npx tldr'
alias untgz='tar -vzxf'
alias zx="npx zx"
alias vercel="npx vercel"

function sober_up() {
  brew cleanup -s
  rm -fr "$(brew --cache)"

  brew up
  brew update
  brew upgrade
}

function dr() {
  docker run -it $1 /bin/sh
}

function set_title() {
  echo -en "\e]0;$@\a"
}

function foreground_process() {
  fuser $1 2> /dev/null | awk '{print $2}'
}

function elapsed_time() {
  ps -eo pid,etime | grep $1 | awk '{print $2}'
}

function tty_hanging() {
  id=${1:-$(tty)}
  pid=$(foreground_process $id)

  if [ -n $pid ]; then
    elapsed_time $pid
  fi
}

function load_secrets() {
  op whoami >> /dev/null 2>&1

  [ "$?" -eq 1 ] && opon

  secrets=""

  vars=( NODE_AUTH_TOKEN=op://private/GH_PAT/password )

  for var in "${vars[@]}"; do
    secrets=${secrets}"export ${var%%=*}=$(op read ${var#*=});"
  done

  # load secrets
  eval $secrets

  if [[ "$1" == "--save" ]]; then
    secrets=${secrets}"_success 'secrets loaded!' && _nl && _nl"
    echo ${secrets} | sed -e s/\;/\\n/ > ~/.secrets
  fi
}

function clear_secrets() {
  echo -ne "_info 'no secrets loaded ' && _nl && _nl" > ~/.secrets
}
