<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>😬</string>
		<key>shortcut</key>
		<string>:#</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😍</string>
		<key>shortcut</key>
		<string>:&lt;3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥲</string>
		<key>shortcut</key>
		<string>:x)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙄</string>
		<key>shortcut</key>
		<string>:roll</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᕕ( ᐛ )ᕗ</string>
		<key>shortcut</key>
		<string>:yay</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🔞</string>
		<key>shortcut</key>
		<string>:18</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤦‍♂️</string>
		<key>shortcut</key>
		<string>:fp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>khub pom</string>
		<key>shortcut</key>
		<string>:kp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥</string>
		<key>shortcut</key>
		<string>:opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘</string>
		<key>shortcut</key>
		<string>:cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🥸</string>
		<key>shortcut</key>
		<string>:3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😎</string>
		<key>shortcut</key>
		<string>8)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😱</string>
		<key>shortcut</key>
		<string>:scream</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😺</string>
		<key>shortcut</key>
		<string>:cat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💯</string>
		<key>shortcut</key>
		<string>:100</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🎉</string>
		<key>shortcut</key>
		<string>:party</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤞</string>
		<key>shortcut</key>
		<string>:x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✌️</string>
		<key>shortcut</key>
		<string>:v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😌</string>
		<key>shortcut</key>
		<string>:relie</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>v|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>^|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😓</string>
		<key>shortcut</key>
		<string>:ws</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👀</string>
		<key>shortcut</key>
		<string>:eye</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤔</string>
		<key>shortcut</key>
		<string>:th</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😅</string>
		<key>shortcut</key>
		<string>:sw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙄</string>
		<key>shortcut</key>
		<string>:gn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😢</string>
		<key>shortcut</key>
		<string>:tt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>👌</string>
		<key>shortcut</key>
		<string>:ok</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🙏</string>
		<key>shortcut</key>
		<string>:pr</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>🤷‍♂️</string>
		<key>shortcut</key>
		<string>:shrug</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>😂</string>
		<key>shortcut</key>
		<string>:xd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>--&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
</array>
</plist>
